:root {
  --bar-primary-width: 250px;
}
.uploading {
  background-color: #fff;
  padding: 30px 36px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.uploading__title {
  text-align: start;
  margin-bottom: 20px;
}
.uploading__bar {
  position: relative;
  text-align: start;
  height: 6px;
  /* border: 3px solid var(--gray-6); */
  min-width: 100px;
  width: var(--bar-primary-width);
  border-radius: var(--border-radius);
  background-color: var(--gray-6);
}
.uploading__bar-wrapper {
  position: absolute;
  width: 100%;
  height: 6px;
  transform: translateX(80%);
  transition: all 2s ease-in-out;
  -webkit-animation: BAR-WRAPPER-ANIMATION 2s infinite; /* Safari 4+ */
  -moz-animation: BAR-WRAPPER-ANIMATION 2s infinite; /* Fx 5+ */
  -o-animation: BAR-WRAPPER-ANIMATION 2s infinite; /* Opera 12+ */
  animation: BAR-WRAPPER-ANIMATION 2s infinite;
}
.uploading__bar-moving {
  position: absolute;
  border: 3px solid var(--blue-1);
  width: 20%;
  border-radius: var(--border-radius);
  transition: 2s;
}

@keyframes BAR-WRAPPER-ANIMATION {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 485px) {
  .uploader {
    padding: 15px 16px;
  }
}
@media screen and (max-width: 340px) {
  .uploader {
    max-width: 95%;
  }
}
